.c-card {
  background-color: rgba(7, 7, 7, 0.877);
  border-radius: 9px;
  color: rgba(0, 0, 255, 0.911);
}

.bar:hover, .tab:hover {
  color: rgba(253, 147, 147, 0.808);
}

/* Basic Login Page Styling */
.lfrom {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.lforminpt {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formbtn {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formbtn:hover {
  background-color: #218838;
}